.search {
  .modal-dialog {
    display: flex;
    flex-direction: column;
    max-width: 40em;

    header h2 {
      margin-bottom: 1.5rem;
    }
  }

  &.has-results .modal-dialog {
    max-width: none;
  }

  header h3 {
    margin-bottom: 1em;
  }

  &.has-query header {
    border-bottom: solid 1px soften(background-color, 10%);
    padding-bottom: 1em;
  }

  form {
    order: 2;
    text-align: center;
    width: 100%;

    input {
      border-radius: 3px 0 0 3px;
      border-right: none;
    }

    button {
      border-radius: 0 3px 3px 0;
    }
  }

  .results {
    max-width: 50em;
    padding: 0.5em;

    li {
      display: flex;
      margin: 2em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.exists {
        img,
        article *:not(p, svg, path),
        button {
          opacity: 0.5;
        }
      }

      p {
        color: success-color;

        svg {
          margin-right: 0.2em;
        }
      }

      img {
        margin-right: 1.5em;
        max-height: 200px;
      }

      article {
        margin-right: 0.5em;
      }

      dt {
        color: darken(light-color, 20%);
        float: left;
        width: 7em;
      }

      dd {
        margin-bottom: 0.5em;
        margin-left: 7em;
      }

      dt.no-value,
      dt.no-value + dd {
        display: none;
      }

      button {
        min-width: 2.5em;

        &[disabled] {
          background: neutral-color;
          border-color: neutral-color;
          color: darken(neutral-color, 40%);
          cursor: default;
        }
      }
    }
  }

  .no-results {
    margin-top: 2em;
    text-align: center;
  }
}
