.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.icon-button {
  background: none;
  border: none;
  color: primary-color;
  font-size: 1.3em;

  &:hover,
  &:focus,
  &:active {
    background: none;
    color: secondary-color;
  }
}
