.all-episodes {
  h2 {
    margin-bottom: 0;
  }
}

.show-edit {
  .controls {
    display: flex;
    justify-content: space-between;

    a {
      color: darken(error-color, 20%);
      margin-top: 0.6em;

      +hover() {
        color: error-color;
      }
    }
  }
}
