.all-episodes {
  .loader {
    @extend .loading-container;
    color: light-color;
    order: 2;
    justify-content: flex-start;
    padding: 0.6em;
    width: 100%;
  }

  header {
    border-bottom: solid 1px soften(background-color, 10%);
    flex-wrap: nowrap;
  }

  dl {
    border-bottom: solid 1px soften(background-color, 10%);
    display: flex;
    padding: 0.8em;
  }

  dt {
    color: darken(light-color, 20%);
  }

  dd {
    margin-left: 0.4em;
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  dt.no-value,
  dt.no-value + dd {
    display: none;
  }

  main {
    padding: 0;

    li > ul {
      border-bottom: solid 1px soften(background-color, 10%);
    }
  }

  h3 {
    background: background-color;
    border-bottom: solid 1px soften(background-color, 10%);
    left: -1em;
    margin: 0;
    padding: 0.4rem 0.8rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .episode-single {
    padding: 0.3em 0.8rem;

    &:first-child {
      padding-top: 0.9em;
    }

    &:last-child {
      padding-bottom: 0.9em;
    }

    &.recent {
      background: primary-color-contrast;
    }

    &.upcoming {
      background: secondary-color-contrast;
    }

    &.past {
      background: tertiary-color-contrast;
    }
  }
}

.show-edit-modal {
  .modal-dialog {
    flex-basis: 22em;
  }

  .form fieldset:first-child {
    margin-top: 0.4em;
  }

  header {
    justify-content: flex-end;
  }

  main {
    border-bottom: solid 1px soften(background-color, 10%);
    border-top: solid 1px soften(background-color, 10%);
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  .hide {
    display: none;
  }
}

.confirm-delete-modal {
  .modal-dialog {
    border: solid 1px soften(background-color, 10%);
  }

  .ok {
    background: error-color;
    border-color: error-color;

    +hover() {
      background: darken(error-color, 20%);
      border-color: darken(error-color, 20%);
    }
  }

  main {
    padding: 2em;
  }

  p {
    margin-bottom: 0;
  }
}
