body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: primary-color-contrast;
  color: foreground-color;
  height: 100%;
  width: 100%;
}

// prevents over-scrolling
html { overflow: hidden; }
body { overflow: auto; }

body,
input,
textarea {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1.3em;
}

h3 {
  font-size: 1.1em;
  margin: 0.6em 0;
}

h4 {
  font-size: 1.1em;
  margin-bottom: 0.6em;
}

p {
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  display: inline-block;
  transition: all .2s ease;

  &:link,
  &:visited {
    color: primary-color;
    text-decoration: none;
  }

  +hover() {
    color: secondary-color;
    text-decoration: underline;
  }
}

input,
textarea {
  background: harden(background-color);
  border: solid 2px soften(background-color, 10%);
  color: foreground-color;
  font-size: 1em;
  outline: none;
  padding: 0.4em 0.6em;

  &:focus {
    border-color: primary-color;
  }
}

textarea {
  line-height: 1.5;
}

button {
  background: primary-color;
  border: solid 2px primary-color;
  border-radius: 3px;
  color: light-color;
  font-size: 1em;
  cursor: pointer;
  padding: .4em .6em;
  transition: all 0.3s ease;

  +hover() {
    background: secondary-color;
    border-color: secondary-color;
  }
}
