.form {
  min-width: 25em;

  fieldset {
    margin: 0.8em 0;
  }

  label {
    display: block;
    margin-bottom: 0.4em;
  }

  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  button {
    float: right;
  }
}

.full-screen-centered {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}
