.form {
  fieldset {
    margin: 0.8em 0;
  }

  label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.6em;
  }

  input:not([type]),
  input[type=text] {
    display: block;
    width: 100%;
  }

  button {
    float: right;
  }
}

.full-screen-centered {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}

.spacer {
  flex-grow: 2;
}

.tooltip {
  background: background-color;
  border-color: background-color;
  font-size: 16px;
  padding: 0;
  z-index: 5;
}

.tooltip-arrow svg {
  fill: background-color;
  stroke: background-color;
}

.options {
  ul {
    background: background-color;
    border: solid 1px darken(background-color, 20%);
    border-radius: 3px;
    display: flex;
    padding: 0.3rem 0.6rem;
    white-space: nowrap;
  }

  li {
    margin-left: 0.6rem;

    &:first-child {
      margin-left: 0;
    }
  }

  a,
  button {
    background: none;
    border: none;
    color: primary-color;
    padding: 0;
    text-shadow: none;

    +hover() {
      color: secondary-color;
    }
  }
}

a.delete {
  color: error-color;
  margin-top: 0.6em;
  text-decoration: none;
  text-shadow: none;
  transform: none;

  +hover() {
    color: darken(error-color, 20%);
  }
}
