{{outlet}}

<ul class="app-options">
  <li>
    {{#link-to 'source-shows' title="Add Show"}}
      <i class="fa fa-plus"></i>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'settings' title="Settings"}}
      <i class="fa fa-cog"></i>
    {{/link-to}}
  </li>
</ul>

{{outlet 'modal'}}
