<div class="modal-dialog-overlay">
  <div class="modal-dialog">
    <div class="modal-dialog-content">
      {{yield}}

      <footer>
        {{#if cancel}}
          <button {{action 'cancel'}} class="cancel">Cancel</button>
        {{/if}}

        {{#if ok}}
          <button {{action 'ok'}} class="ok">OK</button>
        {{/if}}
      </footer>
    </div>

    {{#if close}}
      <button {{action 'close'}} class="close" title="Close">
        <i class="fa fa-times"></i>
      </button>
    {{/if}}
  </div>
</div>
