.messages {
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0.5em;

  li {
    background: background-color;
    border: solid 1px soften(background-color);
    color: foreground-color;
    display: inline-block;
    margin: 0 0.5em;
    padding: 0.5em 1em;
  }
}
