.messages {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -50%;
  left: 50%;
  position: fixed;
  right: 0;
  top: 0.8em;

  li {
    align-items: center;
    background: background-color;
    border: solid 1px soften(background-color);
    color: foreground-color;
    display: flex;
    justify-content: space-between;
    margin: 0 0.8em 0.8em;
    z-index: 100;

    span,
    button {
      padding: 0.6em 0.8em;
    }

    button {
      background: none;
      border: none;
      color: soften(foreground-color);

      +hover() {
        color: foreground-color;
      }
    }

    &.type-error {
      background: error-color;
      border-color: soften(error-color);
    }
  }
}
