.shows-list {
  box-sizing: border-box;
  float: left;
  padding: 1.5em;
  transition: all 1s ease;

  &.recent,
  &.upcoming {
    width: 40%;

    @media all and (max-width: 70em) {
      width: 50%;
    }

    @media all and (max-width: 50em) {
      float: none;
      width: 100%;
    }
  }

  &.off-air {
    width: 20%;

    h3 {
      color: neutral-color;
      font-size: 1em;

      .options {
        font-size: 1.2em;
      }
    }

    @media all and (max-width: 70em) {
      clear: both;
      float: none;
      width: 100%;
    }
  }

  h3 {
    span {
      position: relative;
    }

    .options {
      display: none;
      left: 100%;
      padding-left: 10px;
      position: absolute;
      top: -6px;
    }

    &:hover .options {
      display: block;
    }

    ul {
      background: darkest-color;
      border-radius: 3px;
      border: solid 1px #000;
      padding: 5px 10px;
      white-space: nowrap;
    }

    li {
      display: inline-block;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
