airdate-status(color, opacity = 1.0) {
  .episode-number {
    background: color;
    opacity: opacity;
  }

  .airdate {
    color: color;
    opacity: opacity;
  }
}

.episode-single {
  border-radius: 3px;
  font-size: .9em;
  padding: 0.5em;

  span {
    display: inline-block;
    margin-left: 0.6em;
  }

  .episode-number {
    background: darken(neutral-color, 40%);
    border-radius: 3px;
    color: light-color;
    margin-left: 0;
    padding: 0.2em 0;
    text-align: center;
    width: 3em;
  }

  &.today {
    background: darkest-color;
  }

  &.far-past {
    airdate-status(primary-color, 0.5);
  }

  &.past {
    airdate-status(primary-color, 0.7);
  }

  &.recent {
    airdate-status(primary-color);
  }

  &.upcoming {
    airdate-status(secondary-color);
  }

  &.future {
    airdate-status(secondary-color, 0.7);
  }

  &.far-future {
    airdate-status(secondary-color, 0.5);
  }
}
