.app {
  bottom: 0;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.loading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 1.4em;
  justify-content: center;

  i {
    margin-right: 0.5em;
  }
}

.cover {
  background: rgba(255, 255, 255, 0.4);
  display: none;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  max-width: 360px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  // display: flex doesn't work on a real <fieldset />
  .fieldset {
    display: flex;
    margin-bottom: 15px;
  }

  p {
    background: #111;
    border: solid 1px #777;
    color: darken($light-color, 20%);
    flex-grow: 2;
    margin-right: 5px;
    overflow-x: auto;
    padding: 5px 10px;
  }

  &.selecting .cover {
    display: block;
  }
}
