.app {
  bottom: 0;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.wrap {
  display: flex;
  width: 100%;
}

.loading {
  align-items: center;
  color: darken($light-color, 40%);
  display: flex;
  flex-grow: 1;
  font-size: 1.2em;
  justify-content: center;

  i {
    margin-right: 0.5em;
  }
}

.notifications {
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  top: 0.5em;

  li {
    align-items: center;
    background: #565656;
    box-shadow: 0 0 1em $darkest-color;
    display: flex;
    margin-bottom: 0.5em;
    justify-content: space-between;
    padding: 0.3em 0.3em 0.3em 1em;

    &.success {
      background: $success-color;
    }

    &.error {
      background: $error-color;
    }
  }

  p {
    color: $light-color;
    padding-right: 1em;
  }

  button {
    background: none;
    border: none;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.cover {
  display: none;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;

  label {
    display: block;
    margin-bottom: 5px;
  }

  // display: flex doesn't work on a real <fieldset />
  .fieldset {
    display: flex;
    margin-bottom: 15px;

    p {
      background: #111;
      border: solid 1px #777;
      flex-grow: 2;
      margin-right: 5px;
      min-width: 14em;
      overflow-x: auto;
      padding: 5px 10px;
    }
  }

  &.selecting .cover {
    display: block;
  }
}
