.app {
  bottom: 0;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.wrap {
  display: flex;
  width: 100%;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  i {
    margin-right: 0.5em;
  }

  p {
    color: darken($light-color, 20%);
    margin-top: 0.6em;

    &:first-child {
      font-size: 1.1em;
    }
  }
}

.plex-credentials {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  h1 {
    margin: 0;
  }

  p {
    margin: 0.8em 0;
  }

  .fieldset {
    justify-content: flex-end;
  }

  label {
    margin-bottom: 0;
    margin-right: 0.4em;
  }

  input {
    display: block;
  }

  button,
  a {
    float: right;
  }

  a {
    background: lighten($dark-color, 20%);
    border: solid 1px lighten($dark-color, 20%);
    border-radius: 3px;
    color: $neutral-color;
    outline: none;
    margin-right: 0.5em;
    padding: .4em .6em;
    transition: all .2s ease;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      background: lighten($dark-color, 40%);
      border-color: lighten($dark-color, 40%);
      color: $light-color;
    }

  }
}

.notifications {
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  top: 0.5em;

  li {
    background: #565656;
    border-radius: 2px;
    box-shadow: 0 0 1em $darkest-color;
    margin-bottom: 0.5em;
    padding: 0.4em;

    &.success {
      background: $success-color;
    }

    &.error {
      background: $error-color;
    }
  }

  .content {
    align-items: center;
    display: flex;
    justify-content: space-between;

    p {
      flex-grow: 2;
      overflow: auto;
      padding-left: 0.3em;
      padding-right: 1em;
      word-wrap: break-word;
    }
  }

  .expanded-content {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: none;
    font-size: 0.8em;
    line-height: 1.5;
    margin-top: 0.5em;
    overflow: auto;
    padding: 0.5em 1em;
    white-space: pre;
  }

  .is-expanded .expanded-content {
    display: block;
  }

  p {
    color: $light-color;
  }

  button {
    background: none;
    border: none;

    &:first-child {
      display: none;
      padding: 0.4em 0.2em;

      i {
        @extend .#{$fa-css-prefix}-caret-right;
      }
    }

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .has-message button:first-child {
    display: block;
  }

  .is-expanded button:first-child i {
    @extend .#{$fa-css-prefix}-caret-down;
  }
}

.cover {
  display: none;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;

  .fieldset p {
    background: $darkest-color;
    border: solid 1px lighten($dark-color, 20%);
    flex-grow: 2;
    margin-right: 0.3em;
    min-width: 14em;
    overflow-x: auto;
    padding: 0.3em 0.6em;
  }

  &.selecting .cover {
    display: block;
  }
}
