nav {
  display: flex;
  justify-content: center;
  padding: 1em 1em 0;

  button {
    background: none;
    border: none;
    border-bottom: solid 3px transparent;
    border-radius: 0;
    color: darken($light-color, 30%);
    font-size: 1.3em;
    padding: 0.6em 2em;

    &:hover {
      background: none;
      border-color: transparent;
      color: $light-color;
    }
  }
}

.is-queue .nav-queue,
.is-settings .nav-settings {
  border-color: $primary-color;
  color: $light-color;
}
