$canceled-color: darken($neutral-color, 20%);

.queue {
  li {
    align-items: center;
    border-top: solid 1px #000;
    display: flex;
    justify-content: space-between;
    padding: 0.6em 0;

    &:first-child {
      border-top: none;
    }
  }

  .status-icon {
    margin-right: 0.6em;

    i {
      @extend .#{$fa-css-prefix}-refresh;
      @extend .#{$fa-css-prefix}-spin;
      color: $primary-color;
    }
  }

  .status-canceled .status-icon i {
    @extend .#{$fa-css-prefix}-minus-square;
    animation: none;
    color: $canceled-color;
  }

  .status-finished .status-icon i {
    @extend .#{$fa-css-prefix}-check;
    animation: none;
    color: $success-color;
  }

  .status-error .status-icon i {
    @extend .#{$fa-css-prefix}-warning;
    animation: none;
    color: $error-color;
  }

  .ep-num {
    background: $primary-color;
    border-radius: 3px;
    color: $light-color;
    flex-grow: 0;
    font-size: 0.9em;
    padding: 0.1em 0.2em;
    text-align: center;
    width: 2.8em;
  }

  .status-canceled .ep-num {
    background: $canceled-color;
  }

  .status-finished .ep-num {
    background: $success-color;
  }

  .status-error .ep-num {
    background: $error-color;
  }

  .name,
  .status {
    flex-shrink: 0;
    font-size: 0.9em;
    margin-left: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 14em;

    button {
      margin-left: 0.4em;
    }
  }

  .download-progress {
    font-size: 0.8em;

    .meter {
      background: #000;
      border-radius: 2px;
      height: 2px;
      margin-top: 0.4em;

      div {
        background-color: $secondary-color;
        border-radius: 2px;
        height: 2px;
        transition: all 0.25s ease;
      }
    }
  }

  .status button,
  .action button {
    background: none;
    border: none;
    padding: 0.2em 0.4em;
  }

  .status-canceled .status button {
    @include buttonize-color($canceled-color);
  }

  .status-finished .status button {
    @include buttonize-color($success-color);
  }

  .status-error .status button {
    @include buttonize-color($error-color);
  }

  .action {
    text-align: right;
    width: 2em;

    button {
      @include buttonize-color(darken($light-color, 30%), $light-color);
    }
  }
}
