{{#modal-dialog}}
  <form {{action 'authenticate' apiKey on="submit"}} class="form auth">
    <p>Your API key is missing or invalid. Please authenticate.</p>

    <fieldset>
      <label>API Key</label>
      {{focus-input value=apiKey}}
    </fieldset>

    <footer class="clearfix">
      <button type="submit">Authenticate</button>
    </footer>
  </form>
{{/modal-dialog}}
