{{#modal-dialog close='close' class="source-shows"}}

  <form {{action 'search' on='submit'}}>
    <h3>Search Shows</h3>

    {{input value=query}}<button type="submit">Search</button>
  </form>

  {{outlet}}
{{/modal-dialog}}
