border = solid 1px rgba(255, 255, 255, 0.2);

.calendar {
  border-left: solid 0.4rem secondary-color;
  border-top: solid 0.4rem secondary-color;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  min-width: 40rem;

  &-navigation {
    background: secondary-color-contrast;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.5rem 0.3rem 1rem;

    h2 {
      display: flex;
      margin-bottom: 0;
    }

    .calendar-month,
    .calendar-year {
      align-items: center;
      display: flex;
    }

    .calendar-year {
      font-weight: normal;
      margin-left: 0.4rem;
    }

    button {
      background: none;
      border: solid 1px secondary-color;
      color: secondary-color;
      font-size: 0.8rem;
      font-weight: bold;
      margin: 0.3rem 0.2rem;
      padding: 0.2rem 0.4rem;

      +hover() {
        color: primary-color;
        border-color: primary-color;
      }
    }

    .calendar-today {
      font-weight: normal;
      padding: 0.1rem 0.4rem;
    }
  }

  &-weekdays {
    background: secondary-color-contrast;
    display: flex;
  }

  &-weekday {
    flex-grow: 2;
    padding: 0.2rem 0.4rem;
    text-align: right;
    width: calc(100% / 7);
  }

  &-dates {
    background: primary-color-contrast;
    border-top: border;
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
  }

  &-date {
    border-top: border;
    border-left: border;
    min-height: 7rem;
    width: calc(100% / 7);

    &:link,
    &:visited {
      color: light-color;
      text-decoration: none;
    }

    &:nth-child(7n+1) {
      border-left: none;
    }

    &.is-weekend {
      background: tertiary-color-contrast;
    }

    .calendar-date-number {
      border-radius: 8px;
      float: right;
      margin: 2px 2px 0 0;
      padding: 0.2rem 0.4rem;
    }

    &.is-now .calendar-date-number {
      background: secondary-color;
    }

    &.is-neighboring-month {
      .calendar-date-number,
      ul {
        opacity: 0.3;
      }
    }

    ul {
      clear: both;
      font-size: 0.8rem;
      padding: 0.3rem 0.5rem;

      li {
        list-style: disc;
        margin: 0.3rem 0 0.3rem 0.8rem;

        &::marker {
          color: secondary-color;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.is-past li::marker {
      color: primary-color;
    }
  }
}
