body.modal-dialog-present {
  overflow: hidden;
}

.modal-dialog-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: center;
  padding: 1em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.modal-dialog {
  background: background-color;
  border: solid 1px soften(background-color, 10%);
  color: foreground-color;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  position: relative;

  p {
    margin-bottom: 1.2em;
  }

  header,
  footer {
    flex-shrink: 0;
  }

  main,
  footer {
    padding: 0.6em;
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h2 {
      font-size: 1.2em;
      font-weight: normal;
      margin: 0.8rem;
    }
  }

  main {
    overflow-y: scroll;
  }

  footer {
    min-height: 2em;
  }

  .controls {
    display: flex;
    justify-content: flex-end;

    &:empty {
      display: none;
    }
  }

  .ok {
    margin-left: 0.6em;
  }

  .cancel {
    background: neutral-color;
    border-color: neutral-color;
    color: dark-color;

    +hover() {
      background: darken(neutral-color, 20%);
      border-color: darken(neutral-color, 20%);
      color: black;
    }
  }

  .close {
    button {
      background: none;
      border: none;
      color: alpha(foreground-color, 0.2);
      font-size: 1.2em;
      padding: 0.2em 0.3em;

      +hover() {
        color: alpha(foreground-color, 0.6);
      }
    }
  }
}
