{{#modal-dialog close='close'}}
  <form {{action 'save' on='submit'}} class="settings">
    <fieldset>
      <label>View Link</label>
      {{focus-input value=data.viewLink}}
    </fieldset>

    <footer>
      <button type="submit">Save</button>
    </footer>

    <p>Last updated: {{date-long data.lastUpdated}}</p>
  </form>
{{/modal-dialog}}
