.plex-credentials {
  align-items: center;
  background: $dark-color;
  display: flex;

  form {
    margin: 0 auto;
    max-width: 25em;
  }

  h1 {
    margin: 0;
  }

  p {
    margin: 0.8em 0;
  }

  .fieldset {
    justify-content: flex-end;
  }

  label {
    margin-bottom: 0;
    margin-right: 0.4em;
  }

  input {
    display: block;
    flex-grow: 2;
  }
}
