#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.app-header {
  background: background-color;
  font-size: 1.2rem;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    position: relative;

    .outdated-warning {
      color: warning-color;
      font-size: 0.8rem;
      position: absolute;
      right: -0.3rem;
      top: -0.2rem;
    }

    a {
      padding: 0.4rem 0.8rem;
    }

    .active {
      color: light-color;
    }
  }

  .nav-list .active {
    background: primary-color;
  }

  .nav-calendar .active {
    background: secondary-color;
  }

  .nav-settings .active {
    background: tertiary-color;
  }
}
