#app {
  min-height: 100%;
  position: relative;
  width: 100%;
}

.app-options {
  background: background-color;
  border-bottom: solid 0.1rem tertiary-color;
  border-left: solid 0.1rem tertiary-color;
  border-bottom-left-radius: 3px;
  font-size: 1.1em;
  padding: 0.3rem 0.5rem;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  z-index: 1;

  @media all and (max-width: 60em) {
    border-bottom-color: secondary-color;
    border-left-color: secondary-color;
  }

  @media all and (max-width: 40em) {
    border-bottom-color: primary-color;
    border-left-color: primary-color;
  }

  li {
    display: inline-block;
    margin-left: 0.6em;

    &:first-child {
      margin-left: 0;
    }
  }
}
