#app,
#app > div {
  display: flex;
  min-height: 100%;
  width: 100%;
}

.app-options {
  background: background-color;
  border-bottom: solid 1px darken(background-color, 20%);
  border-left: solid 1px darken(background-color, 20%);
  border-bottom-left-radius: 3px;
  font-size: 1.1em;
  padding: 0.3em 0.5em;
  position: absolute;
  right: 0;
  top: 0;

  li {
    display: inline-block;
    margin-left: 0.6em;

    &:first-child {
      margin-left: 0;
    }
  }
}
