.settings {
  .form fieldset {
    margin: 0;
  }

  footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    p {
      color: darken(neutral-color, 20%);
      font-size: 0.8em;
      margin: 0 2em 0 0;
    }
  }
}
