.time-periods {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  width: 100%;
}

.shows {
  border: solid 0.4rem;
  padding: 1.1rem;

  &.recent,
  &.upcoming {
    width: 38%;

    @media all and (max-width: 60em) {
      width: 50%;
    }

    @media all and (max-width: 40em) {
      width: 100%;
    }
  }

  &.recent {
    background: primary-color-contrast;
    border-color: primary-color;
  }

  &.upcoming {
    background: secondary-color-contrast;
    border-color: secondary-color;
  }

  &.off-air {
    background: tertiary-color-contrast;
    border-color: tertiary-color;
    width: 24%;

    h3 {
      font-size: 1em;
    }

    @media all and (max-width: 60em) {
      width: 100%;

      h3 {
        margin: 0.3em 0;
      }

      > ul {
        columns: 3;
      }
    }

    @media all and (max-width: 45em) {
      > ul {
        columns: 2;
      }
    }

    @media all and (max-width: 25em) {
      > ul {
        columns: 1;
      }
    }
  }

  .empty-message {
    display: none;
  }

  &.empty {
    > ul {
      display: none;
    }

    .empty-message {
      display: block;
    }
  }
}

.tooltip.show-tooltip {
  z-index: 5;
}
