.shows {
  box-sizing: border-box;
  float: left;
  padding: 1.5em;
  transition: all 1s ease;

  &.recent,
  &.upcoming {
    width: 40%;

    @media all and (max-width: 70em) {
      width: 50%;
    }

    @media all and (max-width: 50em) {
      float: none;
      width: 100%;
    }
  }

  &.off-air {
    width: 20%;

    h3 {
      color: neutral-color;
      font-size: 1em;

      .options {
        font-size: 1.2em;
      }
    }

    @media all and (max-width: 70em) {
      clear: both;
      float: none;
      width: 100%;
    }
  }

  h3 {
    span {
      position: relative;
    }

    .options {
      left: 100%;
      padding-left: 10px;
    }

    &:hover .options {
      display: block;
    }
  }
}
