airdate-status(color, opacity = 1.0) {
  .episode-number span {
    background: color;
    opacity: opacity;
  }

  .airdate {
    color: color;
    min-width: 5.4em;
    opacity: opacity;
  }
}

.episode-single {
  align-content: space-between;
  display: flex;
  border-radius: 3px;
  font-size: .9em;
  padding: 0.5em;

  > span,
  .episode-number span {
    display: block;
  }

  > span {
    margin-left: 0.8em;
  }

  .episode-number span,
  .airdate,
  .title,
  .file-name {
    padding: 0.3em 0;
  }

  .episode-number {
    margin-left: 0;

    span {
      background: darken(neutral-color, 40%);
      border-radius: 3px;
      color: light-color;
      text-align: center;
      width: 3em;
    }
  }

  .episode-number,
  .airdate {
    flex-shrink: 0;
  }

  .title,
  .file-name {
    cursor: pointer;

    &:hover {
      color: #FFF;
    }
  }

  .title {
    position: relative;

    .options {
      font-size: 1.2em;
      right: 100%;
      padding-right: 10px;
    }

    &:hover .options {
      display: block;
    }
  }

  .file-name {
    display: none;
  }

  &.show-file-name {
    .title {
      display: none;
    }

    .file-name {
      display: block;
    }
  }

  &.today {
    background: darkest-color;
  }

  &.recent {
    airdate-status(primary-color);
  }

  &.past {
    airdate-status(primary-color, 0.7);
  }

  &.far-past {
    airdate-status(primary-color, 0.5);
  }

  &.upcoming {
    airdate-status(secondary-color);
  }

  &.future {
    airdate-status(secondary-color, 0.7);
  }

  &.far-future {
    airdate-status(secondary-color, 0.5);
  }
}
