.episode-single {
  border-radius: 3px;
  color: soften(foreground-color);
  display: flex;
  font-size: 0.9em;
  padding: 0.3em;

  > span {
    display: block;
    margin-left: 0.8em;
  }

  .episode-number span,
  .airdate,
  .title,
  .file-name {
    padding: 0.3em 0;
  }

  .episode-number {
    margin-left: 0;

    // nest span because .episode-number will grow in height if file name
    // wraps and we don't want the background to grow in height
    span {
      border-radius: 3px;
      color: light-color;
      display: block;
      text-align: center;
      width: 3em;
    }
  }

  &.recent .episode-number span {
    background: primary-color;
  }

  &.upcoming .episode-number span {
    background: secondary-color;
  }

  &.past .episode-number span {
    background: tertiary-color;
  }

  .episode-number,
  .airdate {
    flex-shrink: 0;
  }

  .airdate {
    min-width: 5.4em;
  }

  .title,
  .file-name {
    cursor: pointer;

    &:hover {
      color: foreground-color;
    }
  }

  .file-name {
    display: none;
  }

  &.show-file-name {
    .title {
      display: none;
    }

    .file-name {
      display: block;
    }
  }

  &.yesterday {
    background: alpha(primary-color, 15%);
  }

  &.today {
    background: alpha(secondary-color, 15%);
  }

  &.far-past,
  &.future {
    .episode-number,
    .airdate,
    .title > span {
      opacity: 0.7;
    }
  }

  &.far-future {
    .episode-number,
    .airdate,
    .title > span {
      opacity: 0.5;
    }
  }
}
