$canceled-color: darken($neutral-color, 20%);

.queue {
  display: none;
  margin: 0 auto;
  max-width: 40em;

  .is-queue & {
    display: block;
  }

  .main {
    align-items: center;
    border-top: solid 1px #000;
    display: flex;
    justify-content: space-between;
    padding: 0.6em 0;

    > * {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  > ul {
    padding-bottom: 1em;
  }

  li:first-child .main {
    border-top: none;
  }

  .status-icon {
    margin-right: 0.6em;
    padding-left: 0.4em;
    width: 1.4em;

    i {
      @extend .#{$fa-css-prefix}-refresh;
      @extend .#{$fa-css-prefix}-spin;
      color: $primary-color;
    }
  }

  @keyframes pulsate {
    0%   { transform: scale(0.8, 0.8); }
    50%  { transform: scale(1.4, 1.4); }
    100% { transform: scale(0.8, 0.8); }
  }

  .status-select-torrent .status-icon i,
  .status-select-file .status-icon i {
    @extend .#{$fa-css-prefix}-warning;
    animation: pulsate 2s infinite ease-out;
    color: $warning-color;
  }

  .status-canceled .status-icon i {
    @extend .#{$fa-css-prefix}-minus-square;
    animation: none;
    color: $canceled-color;
  }

  .status-finished .status-icon i {
    @extend .#{$fa-css-prefix}-check-circle;
    animation: none;
    color: $success-color;
  }

  .status-failed .status-icon i {
    @extend .#{$fa-css-prefix}-exclamation-circle;
    animation: none;
    color: $error-color;
  }

  .ep-num {
    background: $primary-color;
    border-radius: 3px;
    color: $light-color;
    font-size: 0.9em;
    padding: 0.1em 0.2em;
    text-align: center;
    width: 2.8em;
  }

  .status-select-torrent .ep-num,
  .status-select-file .ep-num {
    background: $warning-color;
  }

  .status-canceled .ep-num {
    background: $canceled-color;
  }

  .status-finished .ep-num {
    background: $success-color;
  }

  .status-failed .ep-num {
    background: $error-color;
  }

  .name,
  .status {
    font-size: 0.9em;
    margin-left: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 14em;

    button {
      margin-left: 0.4em;
    }
  }

  .download-progress {
    span {
      display: block;
    }

    span:first-child {
      font-size: 0.9em;
    }

    .meter {
      background: #000;
      border-radius: 2px;
      height: 2px;
      margin-top: 0.4em;

      span {
        background-color: $secondary-color;
        border-radius: 2px;
        height: 2px;
        transition: all 0.25s ease;
      }
    }
  }

  .status button,
  .action button {
    background: none;
    border: none;
    padding: 0.2em 0.4em;
  }

  .status-canceled .status button {
    @include buttonize-color($canceled-color);
  }

  .status-finished .status button {
    @include buttonize-color($success-color);
  }

  .status-failed .status button {
    @include buttonize-color($error-color);
  }

  .action {
    text-align: right;
    width: 2em;

    .cancel {
      margin-right: 0;
    }

    button {
      @include buttonize-color(darken($light-color, 30%), $light-color);
    }
  }

  .info {
    background: $darkest-color;
    font-size: 0.9em;
    padding: 0.6em 1em;

    h3 {
      color: $light-color;
    }

    div {
      border-top: solid 1px lighten($dark-color, 40%);
      margin-top: 0.4em;
      padding-top: 0.4em;
    }

    div:empty {
      display: none;
    }
  }
}

.torrent-picker,
.file-picker {
  .empty {
    background: $darkest-color;
    color: darken($light-color, 20%);
    padding: 0.4em 0.6em;
  }
}

.torrent-picker {
  font-size: 0.9em;
  overflow: auto;

  table {
    background: $darkest-color;
    color: darken($light-color, 20%);
  }

  tbody tr {
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  th, td {
    padding: 0.4em 0.6em;
  }

  .name span,
  .upload-date span,
  .uploader {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .name {
    max-width: 20em;
  }

  td.seeders,
  td.verified {
    color: $success-color;
  }

  td.leechers {
    color: $error-color;
  }

  .magnet-link-input {
    margin-bottom: 2px;
    width: 100%;

    &.is-dragging-over {
      border-color: $primary-color;
    }
  }
}

.file-picker {
  font-size: 0.9em;
  overflow: auto;

  ul {
    background: $darkest-color;
    color: darken($light-color, 20%);
  }

  li {
    display: flex;
    padding: 0.4em 0.6em;
    cursor: pointer;
    line-height: 1.5;
    word-wrap: break-word;

    i {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 0.8em;
      padding-top: 0.3em;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
